body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.requested-resources-container {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.center-section-request {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.resource-page-heading {
    font-size: 24px;
}

.goback-button {
    background-color: #d32f2f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.resource-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.resource-table th,
.resource-table td {
    border: 1px solid #ddd;
    padding: 12px;
}

.resource-table th {
    background-color: #f2f2f2;
    text-align: center;
}

.action-button {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    color: white;
}

.accept-button {
    background-color: #28a745;
}

.reject-button {
    background-color: #dc3545;
}

/* .custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
}

.custom-alert-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.custom-alert-content button {
    margin-top: 10px;
}

.custom-alert.show {
    visibility: visible;
} */

@media (max-width: 628px) {
    .requested-resources-container {
        width: 93%;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      }

    .resource-table th, .resource-table td {
        border: 1px solid #ddd;
        padding: 6px;
        font-size: 14px;
    }

    .resource-page-heading {
        font-size: 20px;
      }

      .goback-button {
        background-color: #d32f2f;
        color: white;
        padding: 7px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 10px;
      }

      .action-button {
        padding: 2px 9px;
        border: none;
        cursor: pointer;
        margin: 0 0px;
        border-radius: 5px;
        color: white;
        font-size: 9px;
}

    }


@media (max-width: 480px) {
    .resource-table th, .resource-table td {
        border: 1px solid #ddd;
        padding: 6px;
        font-size: 10px;
    }

    .resource-page-heading {
        font-size: 15px;
      }

      .goback-button {
        background-color: #d32f2f;
        color: white;
        padding: 7px 12px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-size: 10px;
      }

      .action-button {
        padding: 2px 9px;
        border: none;
        cursor: pointer;
        margin: 0 0px;
        border-radius: 5px;
        color: white;
        font-size: 9px;
}
}


button {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}