body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.full-page {
    height: 100vh;
    display: flex;
}

.sidebar-ele {
    width: 265px;
    background-color: #343a40;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

.sidebar-ele h2 {
    margin: 0 0 20px;
    text-align: center;
}

.sidebar-ele ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-ele li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: #495057;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-ele li:hover {
    background-color: #6c757d;
}

.sidebar-ele li.selected {
    background-color: #007bff;
}

.logout-btn {
    background-color: #dc3545;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s;
    color: white;
}

.logout-btn:hover {
    background-color: #c82333;
}


.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.add-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.main-ele {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(50% - 40px);
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


.card-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.left-section-allemployees, .right-section {
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 15px;
    /* color: #666; */
}

.card-buttons {
    display: flex;
    gap: 10px;
}

.card-buttons button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.card-buttons button.update {
    background-color: #28a745;
}

.card-buttons button.delete {
    background-color: #dc3545;
}

.card-buttons button.assign {
    background-color: #ffc107;
}


.emp-id {
    font-size: 1.2em;
    font-weight: bold;
  }

  .employee-name.larger {
    font-size: 15px;
    color: #666;
  }

  .field.smaller{
    font-size: 15px;
    color: #666;
  }

  .field{
    color: #666;
  }